@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family:'Xanh Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin:0;

}